.auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-terms {
    font-size: 12px;
    color: var(--gray-strong-400);
    text-align: center;
    margin: 0;
}

.auth-terms-link {
    color: var(--text-primary);
    text-decoration: underline;
}

.auth-terms-link:hover {
    color: var(--primary-main);
}


@media (max-width: 720px) {
    .auth-form-button-container {
        height: 40px;
    }
}